html, body, #root, #App {
  height: 100%;
  width: 100%;
}

.leaflet-container {
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: hidden;
	/* touch-action:none;
	-ms-touch-action: none; */
	background: #fff !important;
}

#ResultsModal div::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	margin-left: 5px;
	border-radius: 20px;

  }
  
  #ResultsModal div::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 20px;
  
  }
  
  #ResultsModal div::-webkit-scrollbar-thumb {
	background-color: #505050;
	border-radius: 20px;
  }

  @media screen and (max-width: 700px) {
	  #modalRoot {
		  width: 90% !important;
		  margin: 3% 4%
	  }
	  #modalRoot td {
		  font-size: 18px !important;
	  } 
	  #percentSpan{
		  font-size: 14px !important;
	  }
  }